<div class="rebloom-intro">

  <img src="{{ 'rebloom-bottle.png' | asset_url }}" alt="reBloom all natural sleep drink"/>

  <h2 class="split">

    all natural<span></span> sleep drink

  </h2>

  <a class="order-button" href="#order-rebloom">order rebloom</a>

</div>

<div class="all-natural-sleep-drink">

  <img src="{{ 'rebloom-promise.svg' | asset_url }}">

  <h3>

    We're dedicated to

    <br>

    conveniently providing a

    <br>

    <em>non-habit forming,</em>

    <br class="duo">

    all-natural sleep drink

    <br>

    that gives you

    <br>

    <em>better quality sleep</em>

    <br class="duo">

    and leaves you

    <br>

    feeling refreshed for

    <br>

    your best tomorrow

  </h3>

</div>

<div id="testimonials" class="rebloom-press">

  <h2>

    what they

    <br>

    are saying about us

  </h2>

  <div class="press-intro">

    <ul>

      <li>

        <img src="{{ 'rebloom-press-logo-001.svg' | asset_url }}">

      </li>

      <li>

        <img src="{{ 'rebloom-press-logo-002.svg' | asset_url }}">

      </li>

      <li>

        <img src="{{ 'rebloom-press-logo-003.png' | asset_url }}">

      </li>

      <li>

        <img src="{{ 'rebloom-press-logo-004.png' | asset_url }}">

      </li>

      <li>

        <img src="{{ 'rebloom-press-logo-005.png' | asset_url }}">

      </li>

      <li>

        <img src="{{ 'rebloom-press-logo-006.svg' | asset_url }}">

      </li>

    </ul>

  </div>

  <img src="{{ 'cloud-l.png' | asset_url }}" class="cloud-l">

  <div class="press-snippet instyle">

    <p>

      reBloom helps your body
      ease into dreamland.

    </p>

  </div>

  <div class="press-snippet newbeauty">

    <p>

      After drinking reBloom,
      I fell asleep in what seemed like
      minutes. Not only did I sleep the
      whole night through, but I felt
      revived the next day..

    </p>

  </div>

  <div class="press-snippet shape">

    <p>

      a shot of reBloom...
      works like a charm

    </p>

  </div>

 <img src="{{ 'cloud-r.png' | asset_url }}" class="cloud-r">

  <div class=" press-snippet seventeen ">

    <p>

      Unlike products such as
      sleeping pills, which can cause
      serious side effects, reBloom
      uses all-natural ingredients,
      so troubled-sleepers can get
      their beauty sleep without
      the headache!

    </p>

  </div>

</div>

<div id="whats-inside" class="whats-inside">

  <h3>What's Inside</h3>

  <ul>

    <li>

      <h4>

        L-Theanine

      </h4>

      <p>

        A natural amino acid
        <br>
        found in green tea that
        <br>
        helps you relax.

      </p>

      <img src="{{ 'rebloom-ingredients-ltheanine.png' | asset_url }}" alt="l-theanine"/>

    </li>

    <li>

      <h4>

        Melatonin

      </h4>

      <p>

        Produced in your body and food
        <br>
        like oats, rice or bananas that
        <br>
        helps signal you to fall asleep
        <br>
        and stay asleep.

      </p>

      <img src="{{ 'rebloom-ingredients-melatonin.png' | asset_url }}" alt="melatonin"/>

    </li>

    <li>

      <h4>

        Lavender

      </h4>

      <p>

        Influences sleep quality
        <br>
        alleviating anxiety and other
        <br>
        related sleep disturbances
        <br>

      </p>

      <img src="{{ 'rebloom-ingredients-lavender.png' | asset_url }}" alt="lavender"/>

    </li>

    <li>

      <h4>

        Chamomile

      </h4>

      <p>

        Commonly used to make
        <br>
        a herb infusion that can help
        <br>
        to induce sleep

      </p>

      <img src="{{ 'rebloom-ingredients-chamomille.png' | asset_url }}" alt="chamomile"/>

    </li>

    <li>

      <h4>

        Valerian

      </h4>

      <p>

        The root of a flowering
        <br>
        plant that has been used for
        <br>
        centuries to help improve the
        <br>
        quality of sleep.

      </p>

      <img src="{{ 'rebloom-ingredients-valerian.png' | asset_url }}" alt="valerian"/>

    </li>

    <li>

      <h4>

        Magnesium

      </h4>

      <p>

        Its ions are essential to all
        <br>
        living cells. Our enzymes
        <br>
        require magnesium ions to
        <br>
        function. It can be found in
        <br>
        nuts, spinach, fish, etc.

      </p>

      <img src="{{ 'rebloom-ingredients-magnesium.png' | asset_url }}" alt="magnesium"/>

    </li>

  </ul>

</div>

<div class="whats-not-inside">

  <h3>what's <em>not</em> inside</h3>

  <p>drugs</p>

  <p>artificial colors</p>

  <p>artificial sweeteners</p>

  <p>preservatives</p>

</div>

<div id="clinically-proven" class="clinically-proven">

  <h3>Clinically Proven</h3>

  <div class="results">

    <div class="results-intro">

      <h3>Clinical Results</h3>

      <p class="trial">

        Results of the

        <br>

        placebo-controlled

        <br>

        double-blind clinical

        <br>

        trial.

      </p>

      <img src="{{ 'rebloom-bottle.png' | asset_url }}" alt="reBloom all natural sleep drink" class="results-intro-image"/>

    </div>

    <ul>

      <li>

        <h4>Fall asleep faster</h4>

        <p class="results-one">

          <em>93%</em>

          of subjects fell asleep faster

          <br>

          on average when consuming

          <br>

          reBloom. Average improvement

          <br>

          was 35% faster compared to the

          <br>

          baseline period.

        </p>

      </li>

      <li>

        <h4>Get more sleep</h4>

        <p class="results-two">

          <em>80%</em>

          of subjects got more actual sleep

          <br>

          on average compared to baseline.

          <br>

          This equated to more than

          <br>

          35 minutes of additional sleep on

          <br>

          average!

        </p>

      </li>

      <li>

        <h4>Higher quality sleep</h4>

        <p class="results-three">

          <em>78%</em>

          of subjects reported achieving

          <br>

          higher quality sleep with

          <br>

          reBloom, on average,

          <br>

          compared to baseline.

        </p>

      </li>

      <li>

        <h4>Wake up more refreshed</h4>

        <p class="results-four">

          <em>80%</em>

          of subjects reported

          <br>

          waking up feeling more

          <br>

          refreshed on average after

          <br>

          consuming reBloom compared

          <br>

          to baseline.

        </p>

      </li>

    </ul>

  </div>

  <input type="checkbox" id="sleep-index">

  <p class="sub">

    applicants’ sleeping problems were assessed <br>using the pittsburgh sleep quality index <label class="subscribe" for="sleep-index">read more</label>

  </p>

  <div class="sleep-index-popup">

    <p>

      Subjects were enrolled in a double-blind placebo-controlled

      <br>

      three-week study to evaluate the efficacy of reBloom in improving

      <br>

      sleep. applicants’ sleeping problems were assessed using the pitts-

      <br>

      burgh sleep quality index and only healthy individuals that exhibited

      <br>

      some symptoms of primary insomnia were enrolled in the study. after a

      <br>

      7-day wash-out period, subjects recorded a variety of sleep parame-

      <br>

      ters each morning during a 7-day baseline period. the subjects then

      <br>

      took the test or placebo product (based on their assigned group) 60

      <br>

      minutes prior to bedtime and recorded their sleep parameters during a

      <br>

      7-day test period. test period sleep parameters were then averaged

      <br>

      and compared to both the baseline period and the placebo group to

      <br>

      determine effectiveness and statistical significance.

      <label class="subscribe" for="sleep-index"><img src="{{ 'x.svg' | asset_url }}" alt="30 days money back guarantee"/></label>

    </p>

  </div>

</div>

<div id="order-rebloom" class="order-rebloom">

  <h3>order reBloom</h3>

  <input type="checkbox" id="rebloom-subscribe" checked>

  <div class="product-form">

    <input type="radio" name="select-pack" id="seven-pack">

    <input type="radio" name="select-pack" id="fourteen-pack">

    <input type="radio" name="select-pack" id="twentyeight-pack" checked>

    <label for="seven-pack" class="seven">7 Pack</label>

    <label for="fourteen-pack" class="fourteen">14 Pack</label>

    <label for="twentyeight-pack" class="twentyeight">28 Pack</label>

    <p class="before-price seven">$25</p>

    <p class="before-price fourteen">$45</p>

    <p class="before-price twentyeight">$75</p>

    <p class="sub-price seven">$20</p>

    <p class="sub-price fourteen">$36</p>

    <p class="sub-price twentyeight">$60</p>

    {% for product in collections.rebloom.products %}

    <div class="bespoke-product-select">

        {% include 'bespoke-single-product' %}

    </div>

    {% endfor %}

    <div class="bespoke-product-subscription">

      <a href="https://innovative-brands-llc.chargify.com/h/3620691/subscriptions/new" target="_blank" class="btn order-subscription">Order reBloom</a>

      <a href="https://innovative-brands-llc.chargify.com/h/3629008/subscriptions/new" target="_blank" class="btn order-subscription">Order reBloom</a>

      <a href="https://innovative-brands-llc.chargify.com/h/3629011/subscriptions/new" target="_blank" class="btn order-subscription">Order reBloom</a>

    </div>

    <label class="subscribe" for="rebloom-subscribe">Subscribe &amp; Save 20%</label>

    <p class="subscribe-and-save">

      Subscribe and enjoy free shipping!

    </p>

  </div>

  <p class="directions">

    Drink one bottle <br>of reBloom before bedtime <br>or half bottle in the <br>middle of the night. <br><span class="u-one">Always wake up feeling </span><br><span class="u-two">refreshed, without any </span><br><span class="u-three">grogginess.</span>

  </p>

  <div class="details">

    <p>

      And only five calories, 2 1/2

      <br>

      oz, you dont need to feel

      <br>

      guilty about taking reBloom

    </p>

  </div>

</div>

<div class="rebloom-guarantee">

    <img src="{{ 'rebloom-guarantee.jpeg' | asset_url }}" alt="30 days money back guarantee"/>

    <p>

      reBloom offers a 100% money-

      <br>

      back guarantee. <br class="dt">If for any reason

      <br>

      you are not satisfied, simply

      <br>

      return your order <br class="dt">(even if all

      <br>

      bottles are empty!), within 30

      <br>

      days of purchase for <br class="dt">a full refund

      <br>

      (less S&amp;H) - no questions asked!

      <em>

        Your satisfaction

        <br>

        is our priority!

      </em>

    </p>

  </div>

<div id="contact-us" class="support-team">

  <h4>

    ask us about reBloom

  </h4>

  <p>

    Our 24/7 sleep support team is happy to answer any questions you may have regarding reBloom.

  </p>

  <a class="mailto" href="mailto:&#104;&#101;&#108;&#112;&#064;&#114;&#101;&#098;&#108;&#111;&#111;&#109;&#046;&#099;&#111;&#109;">

    &#104;&#101;&#108;&#112;&#064;&#114;&#101;&#098;&#108;&#111;&#111;&#109;&#046;&#099;&#111;&#109;

  </a>

  <img class="mobile-rebloom" src="{{ 'mobile-rebloom-team.png' | asset_url }}" alt="30 days money back guarantee"/>

  <img class="dt-rebloom" src="{{ 'rebloom-team.png' | asset_url }}" alt="30 days money back guarantee"/>

</div>
